:root {
    --star-size: 20px;
    --star-color: #fff;
    --star-background: #fc0;
    --main-color: #E5B80B;
}

.bg-overlay {
    background: linear-gradient(180deg, #060606b7 0%, rgba(0, 0, 0, 0.507) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    z-index: 1;
}

#navbar {
    overflow: hidden;
    background-color: #2b2a2a;
    float: center;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#navbar p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    padding: 12px 60px;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    margin-bottom: 0px;
}

body {
    background-image: url('../images/banner-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.container {
    position: relative;
    z-index: 2
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}


/* ------------------
    Header Start
--------------------- */
.header {
    position: relative;
    padding: 50px 160px 20px 160px;
    text-align: center;
}

img.header-logo {
    width: 48px;
    margin-right: 10px;
    height: auto;
    margin-top: -10px;
}

.header h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    line-height: 60px;
    padding-top: 30px;
}

h1.display-fixed-none {
    padding-top: 0px !important;
}

.header p {
    color: #e9e9e9;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    padding: 15px 60px 0px 60px;
    letter-spacing: 0.4px;
    word-spacing: 1px;
}

.header-text-all h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    display: inline-flex;
    align-items: center;
}

img.header-all-logo {
    width: 40px;
    margin-right: 10px;
    margin-top: -45px;
}

.header-text-all p {
    color: #e9e9e9;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    padding: 15px 60px 0px 60px;
    letter-spacing: 0.4px;
    word-spacing: 1px;
}
/* --------------------------
    Header End
----------------------------- */


/* ---------------------------
    Main Content Start
----------------------------- */
.main-content {
    padding: 30px 5px 50px;
}
/* ---------------------------
    Main Content End
----------------------------- */


/* --------------------------
    Trusted Bar Start
------------------------------ */
.trusted-bar {
    background-color: #1e1e1e;
    border: 1px solid #424a52;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

img.bar-img {
    max-width: 100%;
    height: auto;
    width: 22px;
    padding-right: 5px;
}

.trusted-bar p {
    color: #e9e9e9;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.updated p {
    font-size: 0.85rem;
    float: right;
    padding: 0px 10px 0px 0px;
}

.trusted-bar p strong {
    color: var(--main-color);
    font-weight: 500;
}

p.trusted-bar-p {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------
    Trusted Bar End
------------------------------ */


/* --------------------------
    List Start
----------------------------- */
.c-list-item {
    background-color: #000000;
    border-radius: 20px;
    border: 1px solid #424a52;
    margin-bottom: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.ribbon-one {
    background: #E5B80B;
    border-top-left-radius: 20px;
    font-size: 12px;
    letter-spacing: 0.2px;
    position: absolute;
    width: 150px;
    padding: 3px 2px;
    color: #ffffff;
    z-index: 99;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    clip-path: polygon(100% 0, 93% 50%, 100% 100%, 0 100%, 0 0);
}

.cit {
    min-height: 120px;
    position: relative;
    border-right: 1px solid #5a5a5a;
    padding: 15px;
}

.c-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.get-btn {
    background-color: #04b558;
    border-radius: 0px;
    color: #fff !important;
    display: block;
    margin: 0 auto 10px;
    padding: 12px 10px;
    width: 200px;
    max-width: 90%;
    vertical-align: middle;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: 0.4px;
}

.get-btn:hover {
    background: #05cc62;
}

.c-list-item a {
    color: #fff;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px;
    font-weight: 500;
}

.c-list-item a:hover {
    color: var(--main-color)
}

.c-list-item h3 {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #E5B80B;
    line-height: 30px;
    padding: 4px 8px 0px 8px;
    word-spacing: 2.4px;
    text-transform: capitalize;
}

.c-list-item h4 {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #b9b9b9 !important;
    line-height: 21px;
}

.c-content img {
    width: 60%
}

.Stars {
    --percent: calc(var(--rating) / 10 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.Stars::before {
    content: "★★★★★"; 
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Starts-blank::before {
    content: "★★★★☆";
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-list-item p {
    font-size: 0.8rem;
    color: #b9b9b9;
    display: inline-block;
    font-weight: 600;
    bottom: 0;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}

.v-l {
    display: block;
}

.votes {
    color: #fff;
    display: block;
    font-family: "Poppins", sans-serif;
}

.score {
    color: var(--main-color) !important;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: lowercase;
}

.c-list-item h1 {
    font-size: 55px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
}

.c-list-item:first-child {
    border: 10px solid orange
}

.c-list-item h1,   .c-list-item h2,   .c-list-item h3, .c-list-item h4 {
    color: #fff;
}

.lightbg {
    background-color: #161616;
}

.right-bg {
    background-color: #161616;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

a.btn-a {
    font-size: 12px;
    font-weight: 400 !important;
    text-decoration: underline;
}
/* ------------------------
    List End
---------------------------- */


/* -------------------------------
    List Description Start
-------------------------------- */

.list-description {
    background-color: #161616;
    border: 1px solid #424a52;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.list-description h1 {
    color: var(--main-color);
    font-size: 32px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.4px;
    word-spacing: 2.3px;
    font-weight: 700;
    padding: 20px 0px 20px 0px;
    line-height: 50px;
}

.list-description h3 {
    color: var(--main-color);
    font-size: 22px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    font-weight: 700;
    padding: 15px 0px;
}

.list-description h2, .list-description h3, .list-description h4 {
    color: var(--main-color);
}

.list-description p {
    color: #e9e9e9d5;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}

.list-description ul li {
    color: #e9e9e9d5;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}
/* -----------------------------
    List Description End
-------------------------------- */



/* ------------------------------
    Cookie-Privacy Header Start
-------------------------------- */
.cookie-privacy-header{
    padding: 20px 0px;
}

h1.cookie-privacy {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    line-height: 60px;
    width: 610px;
}

p.cookie-privacy {
    color: #e9e9e9;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    width: 610px;
}

.icon {
    background-color: #222222;
    text-align: center;
    color: #fff;
    max-width: 100px;
}

.rounded-circle {
    border-radius: 50%!important;
}

.icon img {
    width: 22px;
    height: auto;
}

.icon p {
    color: #e9e9e9c0;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 2px 3px;
}
/* ----------------------------------
    Cookie-Privacy Header End
------------------------------------- */



/* ------------------------------
    Footer Start
-------------------------------- */
.footer {
    background-color: #121212;
    padding: 10px 15px 20px 15px;
    text-align: center;
}

.footer p {
    color: #adadad !important;
    font-size: 13px !important;
    font-family: "Poppins", sans-serif;
    line-height: 26px;
    font-weight: 400 !important;
}


.footer-license-images img {
    padding: 5px 8px 10px 8px;
    max-width: 130px;
}

img.icon-1 {
    max-width: 208px;
}

img.icon-2 {
    max-width: 108px;
}

p.footer-copyright {
    color: #ffffff !important;
    font-size: 12px !important;
    letter-spacing: 0.2px;
    margin-top: 30px;
}

p.footer-copyright > a{
    color: #ffffff !important;
    text-decoration: underline;
}

.footer-txt h2 {
    color: var(--main-color);
    font-size: 28px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    word-spacing: 2.3px;
    font-weight: 700;
    padding: 30px 0px 0px 0px;
}

.footer-txt h5 {
    color: #ededede5;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    font-weight: 700;
    padding: 15px 0px;
}

.footer-txt p {
    color: #e9e9e9c0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}

.footer-bg {
    background-color: #444;
    border-bottom: 1px solid #9b9ea0;
}

.footer-txt {
    padding: 30px 0px;
    text-align: left;
}

.page-content > p > a {
    text-decoration: underline;
    color: #ffffff !important;
}

.page-content > p > a:hover{
    color: #E5B80B !important;
}

p.footer-copyright > a:hover {
    color: #E5B80B !important;
}

.page-content {
    overflow-x: hidden;
}
/* ------------------------------
    Footer End
-------------------------------- */



